<!DOCTYPE html>
<!-- Copyright Aiden . S (SquarerFive) 2020-->
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
        <title>Obsidian Server</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <style>
            
            .vcenter {display:inline-block; vertical-align: center; }
            main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

        </style>
    </head>
    <body class="d-flex flex-column h-100" style="background-color: #111111;">
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" style="padding: 2px; padding-left: 15px; padding-right: 15px;">
              <a class="navbar-brand" href="#">OBSIDIAN</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Server Status</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin" tabindex="-1" aria-disabled="false">Admin</a>
                  </li>
                </ul>
                {% if data.logged_in %}
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{data.user}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <h6 class="dropdown-header">My Account</h6>
                    <a class="dropdown-item" href="/add-server">Add Server</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                  </div>
                </div>
                {% else %}
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Not Signed In
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/register">Register</a>
                  </div>
                  
                </div>
                {% endif %}
                
              </div>
            </nav>
          </header>
          
        <main>
        <div class="container-fluid" style="height:100%;">
        {% block content %}
        {% endblock %}
        <h1>Test</h1>
        </div>
        
        </main>


        <footer class="footer mt-auto py-3">
            <div class="container">
              <span class="text-muted">Obsidian 0.0.1a - Aiden. S</span>
            </div>
          </footer>
<!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
        <script src="{% static 'js/socketio/socket.io.js' %}"></script>
        <script>
          var socket = io('http://localhost:2175');
          socket.on('connect', function(){
            console.log("Connected to listener")
            
          })
          function joinServer(address)
          {
            console.log("Attempting to join ", address)
            socket.emit('join_server', {"Address": address})
          }
        </script>
    </body>
</html>