
Saved/

Intermediate/

Content/ThirdParty/

Content/FPS_Assault_Pack/

Content/AnimStarterPack/

Content/.gitignore
Content/.gitattributes
Content/MSPresets/

Content/Megascans/
Content/FPS_Weapon_Bundle/
Binaries/
.vs/
*.sln
